<!DOCTYPE html>
<html>
<head>
    <title>Event Graph</title>
</head>
<body>
    <h1>Generate Event Graph</h1>
    <form method="POST" action="/events" target="graph_frame">
        <label for="location">Location:</label>
        <select name="location" id="location" required>
            {% for location in locations %}
                <option value="{{ location }}">{{ location }}</option>
            {% endfor %}
        </select>
        <br><br>
        <label for="time_frame">Time Frame:</label>
        <select name="time_frame" id="time_frame" required>
            <option value="week">Past Week</option>
            <option value="month">Past Month</option>
            <option value="year">Past Year</option>
            <option value="decade">Past Decade</option>
        </select>
        <br><br>
        <button type="submit">Render Graph</button>
    </form>
    <iframe name="graph_frame" style="width:100%; height:500px; border:none;"></iframe>
</body>
</html>
